
    body {
        font-family: Arial, sans-serif;
        background: oklch(76.04% 0.1534 2.254 / 0.726);
        padding: 30px;
    }

    .container {
        background: hwb(330 51% 3%);
        padding: 30px;
        max-width: 700px;
        margin: auto;
        border-radius: 8px;
    }

    h2 {
        margin-bottom: 5px;
    }

    .top {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
    }

    input {
        flex: 1;
        padding: 5px;
    }

    button {
        padding: 8px 10px;
        cursor: pointer;
    }

    .filters {
        margin-bottom: 10px;
    }

    table {
        width: 80%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid oklch(74.418% 0.12898 356.425);
        padding: 8px;
        text-align: center;
    }

    th {
        background: #d464a6;
    }
